html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100%;
}

.border {
  border: 1px dashed #ccc;
}

.flex-50 {
  flex: 1;
  max-width: 50%;

}

.h100 {
  height: 100%;
}

.dark {
  background-color: #0f1923;
  color: white;
}

.content {
  padding: 16px;
}

.content-title {
  font-size: 2rem;
  line-height: 44px;
  padding-bottom: 10px;
  margin-bottom: 40px;
  border-bottom: 1px dashed #ccc;
}

.content-subtitle {
  font-size: 1.5rem;
  line-height: 44px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px dashed #ccc;
}

.content-desc {
  font-size: 1rem;
  line-height: 20px;
}

.data-table {
  /*   display:flex; */
  margin-top: 30px;

}

.data-table__title {
  font-size: 1.5rem;
  line-height: 36px;
  padding: 8px;
  border-bottom: 1px dashed #ccc;
}

.data-table__subtitle {
  font-size: .875rem;
  line-height: 20px;
  padding: 8px;
  border-bottom: 1px dashed #ccc;
}

.data-table__row {
  display: flex;
}

.code {
  margin-top: 30px;
}

.code-label {
  font-size: 1.1rem;
  color: #ccc;
  line-height: 24px;
  margin-bottom: 8px;
}

.code-placeholder {
  font-size: 1.1rem;
  line-height: 20px;
  padding: 25px;
  background-color: #1c242b;
  justify-content: space-between;
}

.code-placeholder span {
  margin-right: 10px;
}

.code-placeholder__paramBodyBtn {
  flex: 1 50%;
}

.code-placeholder__button {
  margin: 2px
}

.app-btn {
  padding: 5px 10px;
  min-width: 150px;
  min-height: 40px;
  font-size: 1rem;
}

.code-placeholder__authValue_apikey,
.code-placeholder__authValue_basicauth {
  margin-top: 20px;
  display: flex;
}

.code-placeholder__authValue_input {
  flex: 1 50%;
  padding: 3px;
  margin: 0;
}

.hidden {
  display: none;
}

.mt-20 {
  margin-top: 20px;
}

.dropdown {
  padding: 5px 10px;
  min-width: 150px;
  min-height: 40px;
  font-size: 1rem;
}

[type='text'] {
  padding: 5px 10px;
  min-width: 100px;
  min-height: 20px;
  font-size: 1rem;
}

.paramBody {
  font-size: 12px;
  width: 100%;
  min-height: 280px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  outline: none;
  background: hsla(0, 0%, 100%, .8);
  font-family: monospace;
  font-weight: 600;
  color: #3b4151;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  overflow: hidden;

}



/* prism js css*/
pre[class*="language-"].line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre[class*="language-"].line-numbers>code {
  position: relative;
  white-space: inherit;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.line-numbers-rows>span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows>span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

/* ends*/