html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100%;
}

.border {
  border: 1px dashed #ccc;
}

.flex-50 {
  flex: 1;
  max-width: 50%;

}

.h100 {
  height: 100%;
}

.dark {
  background-color: #0f1923;
  color: white;
}

.content {
  padding: 16px;
}

.content-title {
  font-size: 2rem;
  line-height: 44px;
  padding-bottom: 10px;
  margin-bottom: 40px;
  border-bottom: 1px dashed #ccc;
}

.content-subtitle {
  font-size: 1.5rem;
  line-height: 44px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px dashed #ccc;
}

.content-desc {
  font-size: 1rem;
  line-height: 20px;
}

.data-table {
  /*   display:flex; */
  margin-top: 30px;

}

.data-table__wrapper{
  background-color: #ccc;
  margin-top: 20px;
}

.data-table__title {
  font-size: 1.5rem;
  line-height: 36px;
  padding: 8px;
  border-bottom: 1px dashed #999;
}

.data-table__subtitle {
  font-size: .875rem;
  line-height: 20px;
  padding: 8px;
  border-bottom: 1px dashed #999;
  font-weight: bold;
}

.data-table__data {
  font-size: .875rem;
  line-height: 20px;
  padding: 8px;
}

.data-table__row {
  display: flex;
}

.code {
  margin-top: 30px;
}

.code-label {
  font-size: 1.1rem;
  color: #ccc;
  line-height: 24px;
  margin-bottom: 8px;
}

.code-placeholder {
  font-size: 1.1rem;
  line-height: 20px;
  padding: 25px;
  background-color: #1c242b;
}

.code-placeholder span {
  margin-right: 10px;
}

.app-btn {
  padding: 5px 10px;
  min-width: 150px;
  min-height: 40px;
  font-size: 1rem;
}

.code-placeholder__authValue_apikey,
.code-placeholder__authValue_basicauth {
  margin-top: 20px;
  display: flex;
}

.code-placeholder__authValue_input {
  flex: 1 50%;
  padding: 10px;
  margin: 10px;
}

.hidden {
  display: none;
}

.mt-20 {
  margin-top: 20px;
}

.dropdown {
  padding: 5px 10px;
  min-width: 150px;
  min-height: 40px;
  font-size: 1rem;
}

[type='text'] {
  padding: 5px 10px;
  min-width: 100px;
  min-height: 20px;
  font-size: 1rem;
}